/* acme-regular - latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('./src/assets/acme-font/acme-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./src/assets/acme-font/acme-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./src/assets/acme-font/acme-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./src/assets/acme-font/acme-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./src/assets/acme-font/acme-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./src/assets/acme-font/acme-v18-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  overscroll-behavior-y: none;
  background-image: url('./assets/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Acme', sans-serif;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto;
}

/* HEADER */

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% + 85px);
}

.header-characters {
  display: flex;
  align-items: center;
}

.header-characters > img {
  width: 50px;
  margin-right: 10px;
}

.header-timer {
  margin-left: 60px;
  font-size: 1.5rem;
}

.header-title {
  width: 150px;
}

.header-leaderboard {

}

/* GAME */

.game {
  background-image: url('./assets/wheresWaldo.jpg');
}