body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  overscroll-behavior-y: none;
  background-image: url('./assets/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto;
}

/* HEADER */

.header {
  background-color: white;
}

/* GAME */

.game {
  background-image: url('./assets/wheresWaldo.jpg');
}