/* acme-regular - latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/acme-font/acme-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/acme-font/acme-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/acme-font/acme-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/acme-font/acme-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/acme-font/acme-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/acme-font/acme-v18-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: black;
  font-family: 'Acme', sans-serif;
}

.App {
  min-height: 931px;
  min-width: 1440px;
  display: grid;
  grid-template-rows: 100px auto;
  background-image: url('./assets/wheresWaldo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% + 85px);
}

.header-characters {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  position: fixed;
  z-index: 2;
}

.char-container {
  background-color: white;
  box-shadow: -3px 4px 3px rgb(0, 0, 0, 0.7);
  padding-top: 4px;
  border-radius: 8px;
}

.char-container > img {
  width: 50px;
  margin-right: 10px;
}

.header-timer {
  margin-left: 60px;
  font-size: 1.5rem;
  background-color: #38c5f9;
  box-shadow: -3px 4px 3px rgb(0, 0, 0, 0.7);
  padding: 10px 18px 8px;
  border-radius: 8px;
}

.header-title {
  width: 180px;
  position: absolute;
  left: calc(50vw - 90px);
}

.header-leaderboard {
  font-family: 'Acme', sans-serif;
  font-size: 1.3rem;
  margin-right: 10px;
  background-color: #ea2b1a;
  color: white;
  border: none;
  outline: none;
  padding: 10px 18px 8px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: -3px 4px 3px rgb(0, 0, 0);
  cursor: pointer;
}


/* GAME */

.game {
  cursor: url('./assets/cursor.svg') 50 50, auto;
}

.game-pre {
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.6);
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 150px;
  font-size: 1.75rem;
}

.start-btn {
  width: 100px;
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  background-color: #ea2b1a;
  color: white;
  border: none;
  outline: none;
  padding: 10px 18px 8px;
  border-radius: 8px;
  box-shadow: -3px 4px 3px rgb(0, 0, 0);
  cursor: pointer;
}